.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar main";
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    padding: 10px;
    border-right: grey solid 1px;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.messagesList {
    flex-basis: 100%;
    padding: 10px;
    border-bottom: grey solid 1px;
}

.newMessage {
    flex-basis: 50px;
    padding: 10px;
}
