.container {
    display: grid;
    grid-template-areas: "sidebar msgList" "sidebar newMsg";
    grid-template-columns: 200px auto;
    grid-template-rows: auto 50px;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    padding: 10px;
    background: #ddd;
    border-right: grey solid 1px;
}

.messagesList {
    grid-area: msgList;
    padding: 10px;
    overflow: auto;
    background: #eee;
    border-bottom: grey solid 1px;
}

.messagesList .message {
    padding: 4px 0;
}

.newMessage {
    grid-area: newMsg;
    height: 100%;
}

.newMessage input {
    background: transparent;
}

.newMessage input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
}
